.calculator {
	width: 300px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 50px;
	box-shadow: 2px 2px 5px #888;
	text-align: center;
}

input[type="number"] {
	width: 100px;
	padding: 5px;
	margin: 5px;
}

button {
	border-radius: 6px;
}
